.weekly-container {
    background-color: #242424;
    color: rgb(0, 0, 0);
}

.container {
    width: 70%;
    text-align: left;
    margin: 0 auto;

}
h1{
    margin: 0;
    color: white;
}

.vertical-timeline-element-title{

}

.gantt-chart{
    width: 100%;
}